{% extends "authentication\base.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <h1>Login</h1>
    <form method="POST">
        {% csrf_token %}
            <div class="mb-3">
                <label for="email" 
                class="form-label">Email address</label>
                <input type="email" class="form-control" 
                id="email" placeholder="name@example.com"
                name="email">
            </div>
            <div class="mb-3">
                <label for="password" 
                class="form-label">Password</label>
                <input type="password" class="form-control" 
                id="password" placeholder="Password"
                name="password">
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
    </form>
{% endblock %}